<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>dzo</id>
            <username>ankhokhlov.sbt</username>
            <password>dNBKUX0U*</password>
        </server>
        <server>
            <id>dzo-public</id>
            <username>ankhokhlov.sbt</username>
            <password>dNBKUX0U*</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>default</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>dzo</id>
                    <url>https://dzo.sw.sbc.space/nexus-ci/repository/sbt_maven/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <mirrors>
        <mirror>
            <id>dzo-public</id>
            <name>Mirror of central</name>
            <url>https://dzo.sw.sbc.space/nexus-ci/repository/maven-public/</url>
            <mirrorOf>dzo</mirrorOf>
        </mirror>
        <mirror>
            <id>central</id>
            <name>Mirror of central</name>
            <url>https://repo1.maven.org/maven2/</url>
            <mirrorOf>dzo</mirrorOf>
        </mirror>
    </mirrors>
</settings>